
@mixin links {
    text-decoration: none;
    margin: 0 1rem;
    color: $links;
    
}

body{
    background: linear-gradient(to top,  #e0eafc,#cfdef3);
}



.imgLogo {
    border-radius: 50%;
    height: 100px;
}

.navegacion {
    display: flex;
    justify-content: center;
}


.anclas{
    @include links;
        &:hover {
            color: $efecto;
            
            
        }
}

.titulo {
    text-align: center;
}

hr {
    color: black;
    height: 2px;
    background-color: $lineas;
    margin-top: 30px;

}